body{
    font-family: 'Montserrat';
}
.enroll-h4{
    font-size: 30px;
    line-height: 43px;
}
.enroll-h6{
    font-size: 18px;
    line-height: 29px;
    font-weight: 200;
    font-style: normal;
    
}
.form-control:focus {
    box-shadow: none;
}
.enroll-input {
    width: 500px;
    line-height: 20px;
    height: 60px;
    margin-right: 20px;
}
@media screen and (max-width: 1200px) {
    .enroll-input{
    width: 400px;
    }
}
@media screen and (max-width: 986px) {
    .enroll-input{
    width: 340px;
    }
}
