.card{
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}
.card:hover{
    transform: scale(1.11);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    width: 350px;
}
.landing-fs-52{
    font-size: 52px;
    line-height: 63px;
}
.landing-fs-20{
    font-size: 20px;
    line-height: 24px;
}
.accordion-button:not(.collapsed)::after {
    content: url("../../Images/landing-card-images/closeicon.svg");
    background-image: none !important;
} 
.accordion-button.collapsed::after {   
    content: url("../../Images/landing-card-images/add\ icon.svg");
    background-image: none !important;
}
.accordion-button{
    color: var(--white-100) !important;
    padding-left: 70px !important;
}
.accordion-button:focus {
    box-shadow: none !important;
    background-color: var(--blue-100) !important;
}
.blue100acc .accordion-button {
    background-color: var(--blue-100) !important;
}
.deepblue100acc .accordion-button {
    background-color: var(--deep-blue-100) !important;
}
.green100acc .accordion-button {
    background-color: var(--green-100) !important;
}
.black100acc .accordion-button {
    background-color: var(--black-100) !important;
}