@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*
  Navbar start
*/


.navbar {
  height: fit-content;
  background: rgba(33, 37, 41, 0.02);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4); 
  z-index: 2;
  overflow: hidden;
}

.kodecamp-icon-tablet {
  width: 70px;
  height: 70px;
}

.navbar-links-desktop {
  color: rgba(33, 37, 41, 0.6) !important;
  line-height: 24px;
}

.btn-login, .btn-enroll {
  line-height: 24px !important;
  padding: 10px !important;
  border-radius: 4px;
}

.btn-login {
  color: #669E00 !important;
  border: 1px solid #669E00 !important;
  width: 120px;
  height: 60px;
}

.btn-enroll {
  background: #669E00 !important;
  border-color: #669E00 !important;
  width: 179px;
  height: 60px;
}

#responsive-navbar-nav {  
  position: absolute;
  right: 0px;
  top: 0px;
  width: 332px !important;
  height: 344px  !important;
  background: #FFFFFF;
  z-index: 5;
}

.navbar-links-mobile {
  color: #19364D;
  text-decoration: none;
}

.navbar-mobile-line {
  width: 100%;
  border-top: 0.5px solid #19364D;
}

#navbarToggle, #closeCollapseBarIcon {
  cursor: pointer;
}



@media (min-width: 992px) {
  
  #responsive-navbar-nav {
    display: none !important;
  }
  
}

@media (max-width: 575.98px) {
  .btn-login, .btn-enroll {
    text-align: center;
    height: 40px;
  }

  .btn-login {
    width: 100px;
    margin-left: 10rem !important;
  }

  .btn-enroll {
    width: 105px;
  }

}

/*
  Navbar end
*/
