.explore-card-container{
  box-shadow: 3px 3px 3px rgba(25, 54, 77, 0.4);
}

.explore-card-bg{
  height: 299.7px;  
  background-image: url('../../Images/explore-image/productdesign-figma.jpg');
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  border-radius: 6px 6px 0px 0px;
}

.explore-fs-20-600{
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
}

.explore-fs-14-500{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.explore-fs-24-700{
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    display: none !important;
}

.carousel-indicators .active {
  background-color: var(--green-100) !important;
}

.carousel-indicators [data-bs-target] {
  width: 8px !important;
  height: 8px !important;
  border-radius: 100% !important;
  background-color: rgba(102, 158, 0, 0.2) ;
}

